*{margin: 0;}
header{
    height: 60px;
    padding-top: 10px;
    background-color: rgb(255, 255, 223);
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
}
nav ul li{
    width: 100px;
    height: 30px;
    display: inline-block;
    margin: 10px 20px;
    border-top: 3px dotted rgb(82, 145, 74);
    padding: 10px;
    text-align: center
}
nav ul li a{
    text-decoration: none;
    color: #222;
}
nav ul li a:hover{
    background-color: rgb(255, 236, 243);
    padding: 3px;
    transform: scale(1.2);
}
section{
    background-color: blanchedalmond;
    height: 500px;
    padding: 20px;
}